*{
  box-sizing: border-box;
  margin:0px;
  padding:0px;
  #Container{
    //background-color: black;
    iframe{
      position:absolute;
      frameborder:0;
      z-index:10;
      display:none;
    }
    #display{
      width:100%;
      .jobContainer:first-child{
        display:none;
      }
      .jobContainer{
        // border:2px solid black;
        // border-left:10px solid black;
        -webkit-box-shadow: -2px 5px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -2px 5px 5px 0px rgba(0,0,0,0.75);
        box-shadow: -2px 5px 5px 0px rgba(0,0,0,0.75);
        width:80%;
        margin:20px auto;
      //  padding-right:10px;
          .jobHeader{
            background-color:#7EF9FF;
          //  border:2px solid black;
            border-bottom:none;
            border-top:none;
            font-size:20px;
            //margin-top: 5px;
            padding-top: 2px;
            padding-bottom:5px;
            ul{
              display: inline-block;
              margin-left: 5px;
              width:90%;
              li{
                list-style-type: none;
                margin-top: 10px;
              }
            }
            form{
              float:right;
            }
          }
          .jobSummary{
            //border:2px solid black;
            border-bottom:none;
            border-top:none;
            background-color:#7eff84;
            padding-top: 10px;
            padding-bottom:5px;
            text-align:center;
            p{
              font-size:17px;
              margin-left:5px;
              text-align: left;
            }
          }
          .pullUp{
            background-color: #7eb9ff;
            color:white;
            cursor: pointer;
            display:inline-block;
            padding:10px 10px 10px 10px;
            margin-left: 5px;
            margin-top:10px;
          }
          .pullUp:hover{
            background-color:navy;
          }
      }
    }
  }
}
